
.col-md-1
.col-md-6.aboutpage
  .roundedimage
    =image_tag "profilepic.jpg", :alt=>"Monet", :height=>"200px", :width=>"200px"


  %h2 Monet Wilson tho
  

  %p What'sAround Allows it's users to be able to find places to hang out in their currect area by direct location.  

 