.jumbotron
	%h1 What'sAround
	%p Find venues in your current location with ease!
	%p 
	

%input#maptext(type="text" placeholder="Search here")
.container

	.row
		.col-md-4 
			%h3 There's so much you can do.
			%p Ever wanted to figure out exactly what's happening around you? Now you can! WhatsAround allows you to figure out what venues are in you current area based on exact location with the ease of a search. 
		.col-md-4 
			%h3 Just do it.
			%p Sometimes you look up and you forget why you're sitting where you are. Well never fear WhatsAround is here. Go do something you never knew was availible to you. 
		.col-md-4
			%h3 Have fun!
			%p Learn about the area your in and what surrouds you. You never know what you could be missing! We support and believe in the wonderers of the world.

#map
